
.venv/
venv/
ENV/
env/
env.bak/
venv.bak/


__pycache__/
*.py[cod]
*.pyo
*.pyd
*.so
*.egg-info/
dist/
build/


.ipynb_checkpoints/
*.nbconvert.ipynb


.vscode/
.history/
.idea/


.DS_Store
Thumbs.db
*.log
*.tmp
*.swp


node_modules/
.streamlit/
